<div class="text-center p-10">
    <h1 class="font-bold text-4xl mb-4">TAAHIRAH'S 21ST BIRTHDAY</h1>
</div>

<section class=" flex flex-col gap-10 w-full justify-center">
    <section class=" flex flex-wrap gap-6 w-full justify-center items-center ">
     <div class="relative group w-80">
        <span class="flex flex-col justify-center items-center">
            <img
                src="assets/bdays/tai/IMG_2204.JPG"
                alt="Sample"
                class="w-full h-full object-cover rounded-lg"
            />
        </span>
    </div>
    <div class="relative group w-80">
        <span class="flex flex-col justify-center items-center">
            <img
                src="assets/bdays/tai/IMG_2213.JPG"
                alt="Sample"
                class="w-full h-full object-cover rounded-lg"
            />
        </span>
    </div>
    <div class="relative group w-80">
        <span class="flex flex-col justify-center items-center">
            <img
                src="assets/bdays/tai/IMG_2222.JPG"
                alt="Sample"
                class="w-full h-full object-cover rounded-lg"
            />
        </span>
    </div>
    <div class="relative group w-80">
        <span class="flex flex-col justify-center items-center">
            <img
                src="assets/bdays/tai/IMG_2226.JPG"
                alt="Sample"
                class="w-full h-full object-cover rounded-lg"
            />
        </span>
    </div>
    <div class="relative group w-80">
        <span class="flex flex-col justify-center items-center">
            <img
                src="assets/bdays/tai/IMG_2113.JPG"
                alt="Sample"
                class="w-full h-full object-cover rounded-lg"
            />
        </span>
</div>
    <div class="relative group w-80">
        <span class="flex flex-col justify-center items-center">
            <img
                src="assets/bdays/tai/IMG_2245.JPG"
                alt="Sample"
                class="w-full h-full object-cover rounded-lg"
            />
        </span>
    </div>
    <div class="relative group w-80">
        <span class="flex flex-col justify-center items-center">
            <img
                src="assets/bdays/tai/IMG_2249.JPG"
                alt="Sample"
                class="w-full h-full object-cover rounded-lg"
            />
        </span>
    </div>
    <div class="relative group w-80">
        <span class="flex flex-col justify-center items-center">
            <img
                src="assets/bdays/tai/IMG_2264.JPG"
                alt="Sample"
                class="w-full h-full object-cover rounded-lg"
            />
        </span>
    </div>
    <div class="relative group w-80">
        <span class="flex flex-col justify-center items-center">
            <img
                src="assets/bdays/tai/IMG_2291.JPG"
                alt="Sample"
                class="w-full h-full object-cover rounded-lg"
            />
        </span>
    </div>
    <div class="relative group w-80">
        <span class="flex flex-col justify-center items-center">
          <img
              src="assets/bdays/tai/IMG_2149.JPG"
              alt="Sample"
              class="w-full h-full object-cover rounded-lg"
          />
        </span>
        </div>
    <div class="relative group w-80">
        <span class="flex flex-col justify-center items-center">
            <img
                src="assets/bdays/tai/IMG_2303.JPG"
                alt="Sample"
                class="w-full h-full object-cover rounded-lg"
            />
        </span>
    </div>
    </section>
  </section>