<div class="flex flex-wrap">
  <!-- Image Section: 40% -->
  <img src="assets/Homepage(2).jpg"
       alt="Homepage" 
       class="w-full sm:w-6/12 h-48 object-cover sm:h-screen">
  
  <!-- Writing Section: 60% -->
  <div class="w-full sm:w-6/12">
    <div class="container mx-auto h-full sm:p-5">
      <header class="container px-4 lg:flex mt-10 items-center h-full lg:mt-0">
        <div class="w-full">
          <h1 class="text-4xl lg:text-7xl font-bold">
            HI, I'M <span class="text-pink-500">KOPANO</span> MATIMOLANE
          </h1>
          <div class="w-20 h-2 bg-pink-500 my-4"></div>
          <p class="mr-3 uppercase text-xl mb-10">
            Welcome to my gallery! I'm just a girl who is obsessed with capturing life's best moments. 
            From big milestones to small glances, I strive to turn fleeting memories into forever keepsakes.
          </p>
          <!--<button (click)="goToGallery()" class="bg-white text-black border border-black text-2xl font-small px-4 py-2 rounded-[20px] shadow hover:bg-pink-500 hover:text-black hover:border-pink-500 transition-all duration-300">SEE MORE</button>-->
          <div class="flex flex-wrap gap-6">
            <a class="relative" routerLink="/picture" >
                <span class="absolute top-0 left-0 mt-1 ml-1 h-full w-full rounded bg-black"></span>
                <span class="fold-bold relative inline-block h-full w-full rounded border-2 border-black bg-white px-3 py-1 text-base font-bold text-black transition duration-100 hover:bg-pink-500 hover:text-gray-900">see more</span>
            </a>
        </div>
        </div>
      </header>
    </div>
  </div>
</div>
