<div class="relative bg-gradient-to-r from-purple-600 to-blue-600 h-screen text-white overflow-hidden">
  <!-- Background for larger screens -->
  <div class="absolute inset-0 hidden lg:block">
    <img src="assets/home1.JPG" alt="Background Image" class="object-cover object-center w-full h-full" />
    <div class="absolute inset-0 bg-black opacity-30"></div>
  </div>

  <!-- Display picture for smaller screens -->
  <div class="absolute inset-0 flex items-center justify-center lg:hidden">
    <img src="assets/home2.JPG" alt="Display Picture" class="object-cover object-center w-full h-full" />
    <div class="absolute inset-0 bg-black opacity-30"></div>
  </div>

  <div class="relative z-10 flex flex-col justify-center items-center w-full h-full text-center px-10 lg:px-40">
    <h1 class="leading-none">
      <span class="text-2xl lg:text-5xl font-playfair">Turning </span> 
      <span class="text-4xl lg:text-[80px] font-imperialScript">fleeting</span> 
      <span class="text-2xl lg:text-5xl font-playfair"> moments into</span>
      <span class="text-4xl lg:text-[80px] font-imperialScript"> timeless treasures</span>
      <span class="text-2xl lg:text-5xl font-playfair">, one click at a time.</span>
    </h1>
    <a routerLink="/picture" class="font-playfair bg-white text-gray-900 hover:bg-black hover:text-white py-1 px-4 rounded-full lg:text-lg transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg mt-2">
      See More
    </a>
  </div>
</div>


