<div class="text-center p-10">
    <h1 class="font-bold text-4xl mb-4">MATRIC DANCE</h1>
</div>

<section class=" flex flex-col gap-10 w-full justify-center">
    <section class=" flex flex-wrap gap-6 w-full justify-center items-center ">
        <div class="text-center p-10 motion-translate-y-in-100 motion-duration-[2s] motion-ease-spring-smooth">
            <h1 class="font-bold text-3xl mb-4">KHANYA (2025)</h1>
        </div>
        <div class="relative group w-80 motion-translate-y-in-100 motion-duration-[2s] motion-ease-spring-smooth">
            <span class="flex flex-col justify-center items-center">
                <img
                    src="assets/md/khanya/IMG_3360.JPG"
                    alt="Sample"
                    class="w-full h-full object-cover rounded-lg"
                />
            </span>
         </div>
        <div class="relative group w-80 motion-translate-y-in-100 motion-duration-[2s] motion-ease-spring-smooth">
            <span class="flex flex-col justify-center items-center">
                <img
                    src="assets/md/khanya/IMG_3350.JPG"
                    alt="Sample"
                    class="w-full h-full object-cover rounded-lg"
                />
            </span>
    </div>
    <div class="relative group w-80 motion-translate-y-in-100 motion-duration-[2s] motion-ease-spring-smooth">
        <span class="flex flex-col justify-center items-center">
            <img
                src="assets/md/khanya/IMG_3356.JPG"
                alt="Sample"
                class="w-full h-full object-cover rounded-lg"
            />
        </span>
    </div>
    <div class="relative group w-80 motion-translate-y-in-100 motion-duration-[2s] motion-ease-spring-smooth">
        <span class="flex flex-col justify-center items-center">
            <img
                src="assets/md/khanya/IMG_3419.JPG"
                alt="Sample"
                class="w-full h-full object-cover rounded-lg"
            />
        </span>
    </div>
    <div class="relative group w-80 motion-translate-y-in-100 motion-duration-[2s] motion-ease-spring-smooth">
        <span class="flex flex-col justify-center items-center">
            <img
                src="assets/md/khanya/IMG_3661.JPG"
                alt="Sample"
                class="w-full h-full object-cover rounded-lg"
            />
        </span>
    </div>
    </section>
  </section>
