<div class="text-center p-10">
    <h1 class="font-bold text-4xl mb-4">MATRIC DANCES</h1>
    <p class="text-gray-400 mr-3 uppercase text-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed
        ante justo. Integer euismod libero id mauris malesuada tincidunt.</p>
</div>

<section id="Projects"
    class="w-full mx-auto grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 justify-items-center justify-center gap-y-2 gap-x-1 mt-6 mb-5">

    <!-- Card 1 -->
    <div class="w-96 lg:w-112 xl:w-120 bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl">
        <a routerLink="/birthdays">
            <img src="https://images.unsplash.com/photo-1646753522408-077ef9839300?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8NjZ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                 alt="Product" class="h-96 w-full object-cover rounded-t-xl" />
            <div class="px-6 py-4 w-full">
                <p class="text-xl font-bold text-black truncate block capitalize">KHANYA (2025)</p>
            </div>
        </a>
    </div>


</section>
