<div class="text-center p-10 motion-translate-y-in-100 motion-duration-[2s] motion-ease-spring-smooth">
    <h1 class="font-imperialScript  text-5xl mb-4">Pertunia's 40th</h1>
</div>
<section class=" flex flex-wrap gap-6 w-full justify-center items-center ">
<div class="relative group w-80 motion-translate-y-in-100 motion-duration-[2s] motion-ease-spring-smooth">
    <span class="flex flex-col justify-center items-center">
        <img
            src="assets/bdays/pertunia/IMG_5461.JPG"
            alt="Sample"
            class="w-full h-full object-cover rounded-lg"
        />
    </span>
 </div>
 <div class="relative group w-80 motion-translate-y-in-100 motion-duration-[2s] motion-ease-spring-smooth">
    <span class="flex flex-col justify-center items-center">
        <img
            src="assets/bdays/pertunia/IMG_5656.JPG"
            alt="Sample"
            class="w-full h-full object-cover rounded-lg"
        />
    </span>
</div>
<div class="relative group w-80 motion-translate-y-in-100 motion-duration-[2s] motion-ease-spring-smooth">
  <span class="flex flex-col justify-center items-center">
      <img
          src="assets/bdays/pertunia/pertuniacover.JPG"
          alt="Sample"
          class="w-full h-full object-cover rounded-lg"
      />
  </span>
</div>
<div class="relative group w-80 motion-translate-y-in-100 motion-duration-[2s] motion-ease-spring-smooth">
<span class="flex flex-col justify-center items-center">
    <img
        src="assets/bdays/pertunia/IMG_5772.JPG"
        alt="Sample"
        class="w-full h-full object-cover rounded-lg"
    />
</span>
</div>
<div class="relative group w-80 motion-translate-y-in-100 motion-duration-[2s] motion-ease-spring-smooth">
<span class="flex flex-col justify-center items-center">
  <img
      src="assets/bdays/pertunia/IMG_5938.JPG"
      alt="Sample"
      class="w-full h-full object-cover rounded-lg"
  />
</span>
</div>
</section>

<div class="text-center p-10 motion-translate-y-in-100 motion-duration-[2s] motion-ease-spring-smooth">
    <h1 class="font-imperialScript  text-5xl mb-4">Macheba's eighteenth</h1>
</div>
<section class=" flex flex-wrap gap-6 w-full justify-center items-center ">
    <div class="relative group w-80 motion-translate-y-in-100 motion-duration-[2s] motion-ease-spring-smooth">
        <span class="flex flex-col justify-center items-center">
            <img
                src="assets/bdays/Macheba/IMG_2762.JPG"
                alt="Sample"
                class="w-full h-full object-cover rounded-lg"
            />
        </span>
    </div>
  <div class="relative group w-80 motion-translate-y-in-100 motion-duration-[2s] motion-ease-spring-smooth">
              <span class="flex flex-col justify-center items-center">
                  <img
                      src="assets/bdays/Macheba/IMG_2533.JPG"
                      alt="Sample"
                      class="w-full h-full object-cover rounded-lg"
                  />
              </span>
  </div>
  <div class="relative group w-80 motion-translate-y-in-100 motion-duration-[2s] motion-ease-spring-smooth">
    <span class="flex flex-col justify-center items-center">
        <img
            src="assets/bdays/Macheba/IMG_2743.JPG"
            alt="Sample"
            class="w-full h-full object-cover rounded-lg"
        />
    </span>
 </div>
 <div class="relative group w-80 motion-translate-y-in-100 motion-duration-[2s] motion-ease-spring-smooth">
    <span class="flex flex-col justify-center items-center">
        <img
            src="assets/bdays/Macheba/IMG_2591.JPG"
            alt="Sample"
            class="w-full h-full object-cover rounded-lg"
        />
    </span>
 </div>
 <div class="relative group w-80 motion-translate-y-in-100 motion-duration-[2s] motion-ease-spring-smooth">
    <span class="flex flex-col justify-center items-center">
        <img
            src="assets/bdays/Macheba/IMG_2713.JPG"
            alt="Sample"
            class="w-full h-full object-cover rounded-lg"
        />
    </span>
 </div>
</section>

<!--<div class="text-center p-10 motion-translate-y-in-100 motion-duration-[2s] motion-ease-spring-smooth">
    <h1 class="font-bold text-3xl mb-4">OMOLEMO'S 21ST</h1>
</div>
<section class=" flex flex-wrap gap-6 w-full justify-center items-center ">
    <div class="relative group w-80 motion-translate-y-in-100 motion-duration-[2s] motion-ease-spring-smooth">
        <span class="flex flex-col justify-center items-center">
            <img
                src="assets/bdays/omo/IMG_7576.JPG"
                alt="Sample"
                class="w-full h-full object-cover rounded-lg"
            />
        </span>
    </div>
  <div class="relative group w-80 motion-translate-y-in-100 motion-duration-[2s] motion-ease-spring-smooth">
              <span class="flex flex-col justify-center items-center">
                  <img
                      src="assets/bdays/omo/IMG_7295.JPG"
                      alt="Sample"
                      class="w-full h-full object-cover rounded-lg"
                  />
              </span>
  </div>
  <div class="relative group w-80 motion-translate-y-in-100 motion-duration-[2s] motion-ease-spring-smooth">
    <span class="flex flex-col justify-center items-center">
        <img
            src="assets/bdays/omo/IMG_7338.JPG"
            alt="Sample"
            class="w-full h-full object-cover rounded-lg"
        />
    </span>
 </div>
 <div class="relative group w-80 motion-translate-y-in-100 motion-duration-[2s] motion-ease-spring-smooth">
    <span class="flex flex-col justify-center items-center">
        <img
            src="assets/bdays/omo/IMG_7400.JPG"
            alt="Sample"
            class="w-full h-full object-cover rounded-lg"
        />
    </span>
 </div>
 <div class="relative group w-80 motion-translate-y-in-100 motion-duration-[2s] motion-ease-spring-smooth">
    <span class="flex flex-col justify-center items-center">
        <img
            src="assets/bdays/omo/IMG_7302.JPG"
            alt="Sample"
            class="w-full h-full object-cover rounded-lg"
        />
    </span>
 </div>
</section>-->


<div class="text-center p-10 motion-translate-y-in-100 motion-duration-[2s] motion-ease-spring-smooth">
    <h1 class="font-imperialScript  text-5xl mb-4">Tebogo's surprise party</h1>
</div>
<section class=" flex flex-wrap gap-6 w-full justify-center items-center ">
    <div class="relative group w-80 motion-translate-y-in-100 motion-duration-[2s] motion-ease-spring-smooth">
        <span class="flex flex-col justify-center items-center">
            <img
                src="assets/bdays/tebogo/IMG_6135.JPG"
                alt="Sample"
                class="w-full h-full object-cover rounded-lg"
            />
        </span>
    </div>
    <div class="relative group w-80 motion-translate-y-in-100 motion-duration-[2s] motion-ease-spring-smooth">
        <span class="flex flex-col justify-center items-center">
            <img
                src="assets/bdays/tebogo/IMG_6142.JPG"
                alt="Sample"
                class="w-full h-full object-cover rounded-lg"
            />
        </span>
    </div>
    <div class="relative group w-80 motion-translate-y-in-100 motion-duration-[2s] motion-ease-spring-smooth">
       <span class="flex flex-col justify-center items-center">
           <img
               src="assets/bdays/tebogo/IMG_6163.JPG"
               alt="Sample"
               class="w-full h-full object-cover rounded-lg"
           />
       </span>
   </div>
   <div class="relative group w-80 motion-translate-y-in-100 motion-duration-[2s] motion-ease-spring-smooth">
    <span class="flex flex-col justify-center items-center">
        <img
            src="assets/bdays/tebogo/IMG_6310.JPG"
            alt="Sample"
            class="w-full h-full object-cover rounded-lg"
        />
    </span>
</div>
<div class="relative group w-80 motion-translate-y-in-100 motion-duration-[2s] motion-ease-spring-smooth">
   <span class="flex flex-col justify-center items-center">
       <img
           src="assets/bdays/tebogo/IMG_6022.JPG"
           alt="Sample"
           class="w-full h-full object-cover rounded-lg"
       />
   </span>
</div>
   </section>

   