<div class="text-center p-10">
    <h1 class="font-bold text-4xl mb-4">MY GALLERY</h1>
    <p class="text-gray-500 mr-3 uppercase text-xs">Explore a collection of cherished
         memories - beautifully captured and showcased for inspiration and joy.</p>
</div>

<section id="Projects" class=" flex flex-col gap-10 w-full justify-center">

    <div class=" flex flex-wrap gap-6 w-full justify-center items-center">
            <!-- Card 1 -->
    <div class="w-96 lg:w-112 xl:w-120 bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl motion-translate-y-in-100 motion-duration-[2s] motion-ease-spring-smooth" style="height: 33rem;">
        <a routerLink="/birthdays">
            <img src="assets/bdays/tai/tai_1.JPG"
                 alt="Product" class="h-96 w-full object-cover rounded-t-xl" />
            <div class="px-6 py-4 w-full">
                <p class="text-xl font-bold text-black truncate block capitalize">BIRTHDAYS</p>
                <p class="text-gray-500 mr-3 uppercase text-xs">Capture the joy and magic of life's special moments with our vibrant birthday gallery. From heartfelt smiles to festive 
                    celebrations, each image tells a story of love, laughter, and cherished memories."</p>
            </div>
        </a>
    </div>

    <!-- Card 2 -->
    <div class="w-96 lg:w-112 xl:w-120 bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl motion-translate-y-in-100 motion-duration-[2s] motion-ease-spring-smooth" style="height: 33rem;">
        <a routerLink="/ratladi">
            <img src="assets/love/ratladi/ratladicover.JPG"
                 alt="Product" class="h-96 w-full object-cover rounded-t-xl" />
            <div class="px-6 py-4 w-full">
                <p class="text-xl font-bold text-black truncate block capitalize">CELEBRATIONS OF LOVE</p>
                <p class="text-gray-500 mr-3 uppercase text-xs">Celebrate the beauty of love in all its forms with our enchanting gallery. From intimate moments to grand gestures,
                     each image reflects the warmth, passion, and connection that make love truly special.</p>
            </div>
        </a>
    </div>

    <!-- Card 3 -->
    <div class="w-96 lg:w-112 xl:w-120 bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl motion-translate-y-in-100 motion-duration-[2s] motion-ease-spring-smooth" style="height: 33rem;">
        <a routerLink="/md">
            <img src="assets/md/khanya/IMG_3387.jpg"
                 alt="Product" class="h-96 w-full object-cover rounded-t-xl" />
            <div class="px-6 py-4 w-full">
                <p class="text-xl font-bold text-black truncate block capitalize">MATRIC DANCES</p>
                <p class="text-gray-500 mr-3 uppercase text-xs">Relive the elegance and excitement of matric dances with our stunning gallery. From dazzling outfits to unforgettable
                     moments, each image captures the essence of this milestone celebration.</p>
            </div>
        </a>
    </div>
        </div>

</section>
