<div class="text-center">
    <h1 class="font-imperialScript text-[50px] lg:text-[55px] mr-1">my gallery</h1>
</div>

<section id="Projects" class=" flex flex-col gap-10 w-full justify-center">

    <div class=" flex flex-wrap gap-6 w-full justify-center items-center p-4">
            <!-- Card 1 -->
    <div class="w-96 lg:w-112 xl:w-120 bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl motion-translate-y-in-100 motion-duration-[2s] motion-ease-spring-smooth" style="height: 33rem;">
        <a routerLink="/birthdays">
            <img src="assets/bdays/tai/tai_1.JPG"
                 alt="Product" class="h-96 w-full object-cover rounded-t-xl" />
            <div class="px-6 py-4 w-full">
                <p class="font-playfair text-xl font-semibold text-black truncate block capitalize">Birthdays</p>
                <p class="text-gray-500 mr-3 text-sm">Capture the joy and magic of life's special moments with our vibrant birthday gallery. From heartfelt smiles to festive 
                    celebrations, each image tells a story of love, laughter, and cherished memories."</p>
            </div>
        </a>
    </div>

    <!-- Card 2 -->
    <div class="w-96 lg:w-112 xl:w-120 bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-x1 motion-translate-y-in-100 motion-duration-[2s] motion-ease-spring-smooth" style="height: 33rem;">
        <a routerLink="/ratladi">
            <img src="assets/love/ref/IMG_2093.JPG"
                 alt="Product" class="h-96 w-full object-cover rounded-t-xl" />
            <div class="px-6 py-4 w-full">
                <p class="text-xl font-playfair font-semibold text-black truncate block capitalize">Celebrations of love</p>
                <p class="text-gray-500 mr-3 text-sm">Celebrate the beauty of love in all its forms. From intimate moments to grand gestures,
                     each image reflects the warmth, passion, and connection that make love truly special.</p>
            </div>
        </a>
    </div>

    <!-- Card 3 -->
    <div class="w-96 lg:w-112 xl:w-120 bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl motion-translate-y-in-100 motion-duration-[2s] motion-ease-spring-smooth" style="height: 33rem;">
        <a routerLink="/md">
            <img src="assets/md/Mash/IMG_9873.JPG"
                 alt="Product" class="h-96 w-full object-cover rounded-t-xl" />
            <div class="px-6 py-4 w-full">
                <p class="text-xl font-playfair font-semibold text-black truncate block capitalize">Matric dance</p>
                <p class="text-gray-500 mr-3 text-sm">Relive the elegance and excitement of matric dances with our stunning gallery. From dazzling outfits to unforgettable
                     moments, each image captures the essence of this milestone celebration.</p>
            </div>
        </a>
    </div>

    <!-- Card 4 -->
    <div class="w-96 lg:w-112 xl:w-120 bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl motion-translate-y-in-100 motion-duration-[2s] motion-ease-spring-smooth" style="height: 33rem;">
        <a routerLink="/grad">
            <img src="assets/grad/thabi/IMG_3651.JPG"
                 alt="Product" class="h-96 w-full object-cover rounded-t-xl" />
            <div class="px-6 py-4 w-full">
                <p class="text-xl font-playfair font-semibold text-black truncate block capitalize">graduation</p>
                <p class="text-gray-500 mr-3 text-sm">Celebrate achievement - explore the gallery of unforgettable moments captured from graduates proudest days.</p>
            </div>
        </a>
    </div>
        </div>

</section>
