<div class="text-center p-10">
    <h1 class="font-bold text-4xl mb-4">MY GALLERY</h1>
    <p class="text-gray-500 mr-3 uppercase text-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed
        ante justo. Integer euismod libero id mauris malesuada tincidunt.</p>
</div>

<section id="Projects">

    <div class="container mx-auto px-4">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-2">
            <!-- Card 1 -->
    <div class="w-96 lg:w-112 xl:w-120 bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl">
        <a routerLink="/birthdays">
            <img src="assets/bdays/tai/tai_1.JPG"
                 alt="Product" class="h-96 w-full object-cover rounded-t-xl" />
            <div class="px-6 py-4 w-full">
                <p class="text-xl font-bold text-black truncate block capitalize">BIRTHDAYS</p>
                <p class="text-gray-500 mr-3 uppercase text-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed
                    ante justo. Integer euismod libero id mauris malesuada tincidunt.</p>
            </div>
        </a>
    </div>

    <!-- Card 2 -->
    <div class="w-96 lg:w-112 xl:w-120 bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl">
        <a routerLink="/ratladi">
            <img src="assets/love/ratladi/ratladicover.JPG"
                 alt="Product" class="h-96 w-full object-cover rounded-t-xl" />
            <div class="px-6 py-4 w-full">
                <p class="text-xl font-bold text-black truncate block capitalize">CELEBRATIONS OF LOVE</p>
                <p class="text-gray-500 mr-3 uppercase text-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed
                    ante justo. Integer euismod libero id mauris malesuada tincidunt.</p>
            </div>
        </a>
    </div>

    <!-- Card 3 -->
    <div class="w-96 lg:w-112 xl:w-120 bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl">
        <a routerLink="/khanya">
            <img src="assets/md/khanya/IMG_3387.JPG"
                 alt="Product" class="h-96 w-full object-cover rounded-t-xl" />
            <div class="px-6 py-4 w-full">
                <p class="text-xl font-bold text-black truncate block capitalize">MATRIC DANCES</p>
                <p class="text-gray-500 mr-3 uppercase text-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed
                    ante justo. Integer euismod libero id mauris malesuada tincidunt.</p>
            </div>
        </a>
    </div>
        </div>
    </div>

</section>
