<div class="flex flex-wrap">

  <!-- Image Section: 40% -->
  <img src="assets/contactus.JPG" alt="Homepage" class="w-full sm:w-5/12 h-48 object-cover sm:h-screen">

  <!-- Writing Section: 60% -->
<div class="w-full sm:w-7/12">
    <div class="container sm:p-5">
      <div class="bg-white py-12 sm:py-1 ">
        <div class="mx-auto max-w-xl flex flex-col items-center justify-center text-center">
          <div class="text-center">
            <h1 class="font-imperialScript text-[60px] lg:text-[80px] mr-1">booking</h1>
          </div>
        </div>
  
        <!-- FORM -->
        <form class="mx-auto mt-5 max-w-xl sm:mt-20" (ngSubmit)="onSubmit()" [formGroup]="contactForm">
          <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
  
            <!-- First Name -->
            <div>
              <label for="first-name" class="uppercase block text-base font-bold text-black">First name</label>
              <div class="mt-2.5">
                <input formControlName="firstName" type="text" id="first-name" placeholder="Your First Name"
                  class="block w-full rounded-md border-2 border-gray-400 px-3.5 py-2 text-gray-900">
              </div>
            </div>
  
            <!-- Last Name -->
            <div>
              <label for="last-name" class="uppercase block text-base font-bold text-black">Last name</label>
              <div class="mt-2.5">
                <input formControlName="lastName" type="text" id="last-name" placeholder="Your Last Name"
                  class="block w-full rounded-md border-2 border-gray-400 px-3.5 py-2 text-gray-900">
              </div>
            </div>
  
            <!-- Email -->
            <div class="sm:col-span-2">
              <label for="email" class="uppercase block text-base font-bold text-black">Email</label>
              <div class="mt-2.5">
                <input formControlName="email" type="email" id="email" placeholder="Your Email Address"
                  class="block w-full rounded-md border-2 border-gray-400 px-3.5 py-2 text-gray-900">
              </div>
            </div>

            <!-- Photography Type -->
            <div class="sm:col-span-2">
              <label for="photo-type" class="uppercase block text-base font-bold text-black">Photography Type</label>
              <div class="mt-2.5">
                <select formControlName="photoType" id="photo-type"
                  class="block w-full rounded-md border-2 border-gray-400 px-3.5 py-2 text-gray-900">
                  <option value="" disabled selected>Select a photography type</option>
                  <option value="portrait">Birthday</option>
                  <option value="portrait">Matric Dance</option>
                  <option value="portrait">Couples</option>
                  <option value="wedding">Wedding</option>
                  <option value="event">Event</option>
                </select>
              </div>
            </div>

             <!-- Booking Date -->
          <div class="sm:col-span-2">
            <label for="booking-date" class="uppercase block text-base font-bold text-black">Booking Date</label>
            <div class="mt-2.5">
              <input formControlName="bookingDate" type="date" id="booking-date"
                class="block w-full rounded-md border-2 border-gray-400 px-3.5 py-2 text-gray-900">
            </div>
          </div>
  
            <!-- Booking Time -->
        <div class="sm:col-span-2">
            <label for="booking-time" class="uppercase block text-base font-bold text-black">Booking Time</label>
            <div class="mt-2.5">
            <input formControlName="bookingTime" type="time" id="booking-time"
                class="block w-full rounded-md border-2 border-gray-400 px-3.5 py-2 text-gray-900">
            </div>
        </div>
  
          </div>
  
          <!-- Submit Button -->
          <div class="mt-1">
            <button type="submit"
              class="bg-black text-white hover:bg-white hover:text-black hover:border-2 hover:border-black py-2 px-8 rounded-full lg:text-lg transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg mt-8">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
