<div class="text-center p-10">
  <h1 class="font-bold text-4xl mb-4">GRADUATION</h1>
</div>

<section class=" flex flex-col gap-10 w-full justify-center">
  <section class=" flex flex-wrap gap-6 w-full justify-center items-center ">
      <div class="text-center p-10 motion-translate-y-in-100 motion-duration-[2s] motion-ease-spring-smooth">
          <h1 class="font-imperialScript  text-5xl mb-4">Thabi</h1>
      </div>
      <div class="relative group w-80 motion-translate-y-in-100 motion-duration-[2s] motion-ease-spring-smooth">
          <span class="flex flex-col justify-center items-center">
              <img
                  src="assets/grad/thabi/IMG_3464.JPG"
                  alt="Sample"
                  class="w-full h-full object-cover rounded-lg"
              />
          </span>
       </div>
      <div class="relative group w-80 motion-translate-y-in-100 motion-duration-[2s] motion-ease-spring-smooth">
          <span class="flex flex-col justify-center items-center">
              <img
                  src="assets/grad/thabi/IMG_3599.JPG"
                  alt="Sample"
                  class="w-full h-full object-cover rounded-lg"
              />
          </span>
  </div>
  <div class="relative group w-80 motion-translate-y-in-100 motion-duration-[2s] motion-ease-spring-smooth">
      <span class="flex flex-col justify-center items-center">
          <img
              src="assets/grad/thabi/IMG_3471.JPG"
              alt="Sample"
              class="w-full h-full object-cover rounded-lg"
          />
      </span>
  </div>
  <div class="relative group w-80 motion-translate-y-in-100 motion-duration-[2s] motion-ease-spring-smooth">
      <span class="flex flex-col justify-center items-center">
          <img
              src="assets/grad/thabi/IMG_3632.JPG"
              alt="Sample"
              class="w-full h-full object-cover rounded-lg"
          />
      </span>
  </div>
  </section>
</section>

