<div class="text-center p-10">
    <h1 class="font-imperialScript  text-5xl mb-4">Nkala & Refentse's wedding</h1>
</div>

<section class=" flex flex-col gap-10 w-full justify-center">
    <section class=" flex flex-wrap gap-6 w-full justify-center items-center ">
        <div class="relative group w-80">
            <span class="flex flex-col justify-center items-center">
                <img
                    src="assets/love/ref/IMG_2048.JPG"
                    alt="Sample"
                    class="w-full h-full object-cover rounded-lg"
                />
            </span>
        </div>
      <div class="relative group w-80">
        <span class="flex flex-col justify-center items-center">
            <img
                src="assets/love/ref/IMG_2055.JPG"
                alt="Sample"
                class="w-full h-full object-cover rounded-lg"
            />
        </span>
     </div>
    <div class="relative group w-80">
        <span class="flex flex-col justify-center items-center">
            <img
                src="assets/love/ref/IMG_2092.JPG"
                alt="Sample"
                class="w-full h-full object-cover rounded-lg"
            />
        </span>
    </div>
    <div class="relative group w-80">
        <span class="flex flex-col justify-center items-center">
            <img
                src="assets/love/ref/IMG_2185.JPG"
                alt="Sample"
                class="w-full h-full object-cover rounded-lg"
            />
        </span>
    </div>
    <div class="relative group w-80">
        <span class="flex flex-col justify-center items-center">
            <img
                src="assets/love/ref/IMG_2218.JPG"
                alt="Sample"
                class="w-full h-full object-cover rounded-lg"
            />
        </span>
    </div>
    </section>
  </section>

