<div class="text-center p-10">
    <h1 class="font-bold text-4xl mb-4">NGOAKOANA & RATLADI'S WEDDING</h1>
</div>

<section class=" flex flex-col gap-10 w-full justify-center">
    <section class=" flex flex-wrap gap-6 w-full justify-center items-center ">
        <div class="relative group w-80">
            <span class="flex flex-col justify-center items-center">
                <img
                    src="assets/love/ratladi/IMG_8423.JPG"
                    alt="Sample"
                    class="w-full h-full object-cover rounded-lg"
                />
            </span>
        </div>
      <div class="relative group w-80">
        <span class="flex flex-col justify-center items-center">
            <img
                src="assets/love/ratladi/IMG_6722.JPG"
                alt="Sample"
                class="w-full h-full object-cover rounded-lg"
            />
        </span>
     </div>
    <div class="relative group w-80">
        <span class="flex flex-col justify-center items-center">
            <img
                src="assets/love/ratladi/IMG_8449.JPG"
                alt="Sample"
                class="w-full h-full object-cover rounded-lg"
            />
        </span>
    </div>
    <div class="relative group w-80">
        <span class="flex flex-col justify-center items-center">
            <img
                src="assets/love/ratladi/IMG_8552.JPG"
                alt="Sample"
                class="w-full h-full object-cover rounded-lg"
            />
        </span>
    </div>
    <div class="relative group w-80">
        <span class="flex flex-col justify-center items-center">
            <img
                src="assets/love/ratladi/IMG_6771.JPG"
                alt="Sample"
                class="w-full h-full object-cover rounded-lg"
            />
        </span>
    </div>
    <div class="relative group w-80">
        <span class="flex flex-col justify-center items-center">
            <img
                src="assets/love/ratladi/IMG_8653.JPG"
                alt="Sample"
                class="w-full h-full object-cover rounded-lg"
            />
        </span>
    </div>
    <div class="relative group w-80">
        <span class="flex flex-col justify-center items-center">
            <img
                src="assets/love/ratladi/IMG_6751.JPG"
                alt="Sample"
                class="w-full h-full object-cover rounded-lg"
            />
        </span>
    </div>
    <div class="relative group w-80">
        <span class="flex flex-col justify-center items-center">
            <img
                src="assets/love/ratladi/IMG_8698.JPG"
                alt="Sample"
                class="w-full h-full object-cover rounded-lg"
            />
        </span>
    </div>
    <div class="relative group w-80">
        <span class="flex flex-col justify-center items-center">
            <img
                src="assets/love/ratladi/IMG_6709.JPG"
                alt="Sample"
                class="w-full h-full object-cover rounded-lg"
            />
        </span>
</div>
    <div class="relative group w-80">
        <span class="flex flex-col justify-center items-center">
            <img
                src="assets/love/ratladi/IMG_8720.JPG"
                alt="Sample"
                class="w-full h-full object-cover rounded-lg"
            />
        </span>
    </div>
    <div class="relative group w-80">
        <span class="flex flex-col justify-center items-center">
            <img
                src="assets/love/ratladi/IMG_8495.JPG"
                alt="Sample"
                class="w-full h-full object-cover rounded-lg"
            />
        </span>
    </div>
    </section>
  </section>

