<div class="flex items-center justify-center">
  <div class="w-full px-2 py-6 gap-2 
  lg:px-4 lg:py-10">
    <div class="mx-auto mb-6 max-w-screen-sm text-center">
      <h1 class="font-imperialScript text-[24px] lg:text-[32px] mr-1">pricing</h1>
    </div>

    <div class="space-y-3 lg:grid md:grid-cols-4 lg:space-y-0 lg:gap-6">
      
      <!-- INDIVIDUAL -->
      <div class="mx-auto flex max-w-xs flex-col items-start space-y-4 rounded-2xl border border-gray-200 bg-white p-4 text-gray-900">
        <h3 class="text-sm font-medium">Individual Pictures</h3>
        <div class="my-2 flex items-baseline justify-center">
          <span class="mr-1 text-3xl font-bold">R200</span>
          <span class="text-xs text-gray-600">/session</span>
        </div>
        <p class="text-xs text-gray-600 leading-snug">
          Capture your personality and style with a personalized portrait session, focusing on creating timeless images you’ll cherish.
        </p>
        <a routerLink="/bookings" class="bg-white border border-black w-full rounded-md py-2 px-3 text-center text-xs font-semibold text-black shadow-sm hover:bg-pink-500 hover:border-pink-500 transition-all duration-300">
          Book
        </a>
        <ul class="mb-4 space-y-2 text-left text-gray-600 text-xs">
          <li class="flex items-center space-x-2">
            <svg class="h-4 w-4 bg-gray-900 rounded-full p-[2px] text-white" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span>60 minute session</span>
          </li>
          <li class="flex items-center space-x-2">
            <svg class="h-4 w-4 bg-gray-900 rounded-full p-[2px] text-white" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span>20 high-quality edited photos</span>
          </li>
        </ul>
      </div>

      <!-- COUPLES -->
      <div class="mx-auto flex max-w-xs flex-col items-start space-y-4 rounded-2xl border border-gray-200 bg-white p-4 text-gray-900">
        <h3 class="text-sm font-medium">Couples Pictures</h3>
        <div class="my-2 flex items-baseline justify-center">
          <span class="mr-1 text-3xl font-bold">R400</span>
          <span class="text-xs text-gray-600">/session</span>
        </div>
        <p class="text-xs text-gray-600 leading-snug">
          Celebrate your love story with romantic, intimate portraits that reflect your unique connection.
        </p>
        <a routerLink="/bookings" class="bg-white border border-black w-full rounded-md py-2 px-3 text-center text-xs font-semibold text-black shadow-sm hover:bg-pink-500 hover:border-pink-500 transition-all duration-300">
          Book
        </a>
        <ul class="mb-4 space-y-2 text-left text-gray-600 text-xs">
          <li class="flex items-center space-x-2">
            <svg class="h-4 w-4 bg-gray-900 rounded-full p-[2px] text-white" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span>60 minute session</span>
          </li>
          <li class="flex items-center space-x-2">
            <svg class="h-4 w-4 bg-gray-900 rounded-full p-[2px] text-white" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span>20 high-quality edited photos</span>
          </li>
        </ul>
      </div>

      <!-- GROUP -->
      <div class="mx-auto flex max-w-xs flex-col items-start space-y-4 rounded-2xl border border-gray-200 bg-white p-4 text-gray-900">
        <h3 class="text-sm font-medium">Group Pictures</h3>
        <div class="my-2 flex items-baseline justify-center">
          <span class="mr-1 text-3xl font-bold">R500</span>
          <span class="text-xs text-gray-600">/session</span>
        </div>
        <p class="text-xs text-gray-600 leading-snug">
          Whether it’s a family reunion or a friends’ gathering, this session highlights the connections and joy shared between your group.
        </p>
        <a routerLink="/bookings" class="bg-white border border-black w-full rounded-md py-2 px-3 text-center text-xs font-semibold text-black shadow-sm hover:bg-pink-500 hover:border-pink-500 transition-all duration-300">
          Book
        </a>
        <ul class="mb-4 space-y-2 text-left text-gray-600 text-xs">
          <li class="flex items-center space-x-2">
            <svg class="h-4 w-4 bg-gray-900 rounded-full p-[2px] text-white" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span>60 minute session</span>
          </li>
          <li class="flex items-center space-x-2">
            <svg class="h-4 w-4 bg-gray-900 rounded-full p-[2px] text-white" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span>30 high-quality edited photos</span>
          </li>
        </ul>
      </div>

      <!-- BIRTHDAY -->
      <div class="mx-auto flex max-w-xs flex-col items-start space-y-4 rounded-2xl border border-gray-200 bg-white p-4 text-gray-900">
        <h3 class="text-sm font-medium">Birthday</h3>
        <div class="my-2 flex items-baseline justify-center">
          <span class="text-3xl font-bold">R1500</span>
        </div>
        <p class="text-xs text-gray-600 leading-snug">Candid and posed photos capturing the event highlights.</p>
        <a routerLink="/bookings" class="bg-white border border-black w-full rounded-md py-2 px-3 text-center text-xs font-semibold text-black shadow-sm hover:bg-pink-500 hover:border-pink-500 transition-all duration-300">
          Book
        </a>
        <ul class="mb-4 space-y-2 text-left text-gray-600 text-xs">
          <li class="flex items-center space-x-2">
            <svg class="h-4 w-4 bg-gray-900 rounded-full p-[2px] text-white" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span>3 hours of coverage. Extra hour: R500</span>
          </li>
          <li class="flex items-center space-x-2">
            <svg class="h-4 w-4 bg-gray-900 rounded-full p-[2px] text-white" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span>At least 70 high-quality edited photos</span>
          </li>
        </ul>
      </div>

      <!-- MATRIC DANCE -->
      <div class="mx-auto flex max-w-xs flex-col items-start space-y-4 rounded-2xl border border-gray-200 bg-white p-4 text-gray-900">
        <h3 class="text-sm font-medium">Matric Dance</h3>
        <div class="my-2 flex items-baseline justify-center">
          <span class="text-3xl font-bold">R2000</span>
        </div>
        <p class="text-xs text-gray-600 leading-snug">Individual and couple poses, plus candid event moments.</p>
        <a routerLink="/bookings" class="bg-white border border-black w-full rounded-md py-2 px-3 text-center text-xs font-semibold text-black shadow-sm hover:bg-pink-500 hover:border-pink-500 transition-all duration-300">
          Book
        </a>
        <ul class="mb-4 space-y-2 text-left text-gray-600 text-xs">
          <li class="flex items-center space-x-2">
            <svg class="h-4 w-4 bg-gray-900 rounded-full p-[2px] text-white" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span>3 hours of coverage. Extra hour: R500</span>
          </li>
          <li class="flex items-center space-x-2">
            <svg class="h-4 w-4 bg-gray-900 rounded-full p-[2px] text-white" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span>At least 70 high-quality edited photos</span>
          </li>
        </ul>
      </div>

      <!-- WEDDINGS -->
      <div class="mx-auto flex max-w-xs flex-col items-start space-y-4 rounded-2xl border border-gray-200 bg-white p-4 text-gray-900">
        <h3 class="text-sm font-medium">Weddings</h3>
        <div class="my-2 flex items-baseline justify-center">
          <span class="text-3xl font-bold">R5000</span>
        </div>
        <p class="text-xs text-gray-600 leading-snug">Coverage of ceremony, couple shots & key moments.</p>
        <a routerLink="/bookings" class="bg-white border border-black w-full rounded-md py-2 px-3 text-center text-xs font-semibold text-black shadow-sm hover:bg-pink-500 hover:border-pink-500 transition-all duration-300">
          Book
        </a>
        <ul class="mb-4 space-y-2 text-left text-gray-600 text-xs">
          <li class="flex items-center space-x-2">
            <svg class="h-4 w-4 bg-gray-900 rounded-full p-[2px] text-white" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span>4 hours coverage. Extra hour: R1000</span>
          </li>
          <li class="flex items-center space-x-2">
            <svg class="h-4 w-4 bg-gray-900 rounded-full p-[2px] text-white" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span>100–150 high-quality edited photos</span>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
