<div class="flex  items-center justify-center">
    <!-- Button 1 -->
    <div class="mx-auto max-w-screen-xl px-4 py-8 lg:px-6 lg:py-16">
        <div class="mx-auto mb-8 max-w-screen-md  lg:mb-12 text-center">
            <div class="text-center">
                <h1 class="font-imperialScript text-[60px] lg:text-[80px] mr-1">prices</h1>
            </div>
            <p class="text-gray-500 mr-3 uppercase text-xs">
                My pricing is designed to be affordable while ensuring high-quality, professional photos that capture your most special moments. Each package includes personalized service, editing, and digital delivery of your images. Travel fees may apply for locations outside a 20km radius.
            </p>
        </div>
        <div class="space-y-8  lg:grid md:grid-cols-3 lg:space-y-0 lg:gap-10">
            <!-- Pricing Card -->
            <div
                class="mx-auto flex max-w-lg space-y-8 items-start flex-col rounded-3xl border border-gray-200 bg-white p-6 text-gray-900 xl:p-8">

                <h3 class="text-lg font-normal ">Individual Pictures</h3>
                <div class="my-8 flex items-baseline justify-center ">
                    <span class="mr-2 text-5xl font-extrabold">R200</span>
                    <span class="text-gray-600">/session</span>
                </div>

                <p class="font-light text-gray-600 sm:text-sm">Capture your personality and style with a personalized portrait session, focusing on creating timeless images you’ll cherish.</p>
                <a
                    routerLink="/contact"
                    class="bg-white text-black border border-black w-full rounded-md  p-3 text-center text-sm font-semibold text-black shadow-sm  hover:bg-pink-500 hover:text-black hover:border-pink-500 transition-all duration-300">Contact us</a>
                <!-- List -->
                <ul role="list" class="mb-8 space-y-4 text-left text-gray-600  text-sm">
                    <li class="flex items-center space-x-3 ">
                        <!-- Icon -->
                        <svg class="h-5 w-5 flex-shrink-0 bg-gray-900 rounded-full p-0.5 text-white" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span>60 minute session</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <svg class="h-5 w-5 flex-shrink-0 bg-gray-900 rounded-full p-0.5 text-white" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span>20 high-quality edited photos</span>
                    </li>
                </ul>
            </div>

            <!-- COUPLE PICTURE -->
            <div
                class="mx-auto flex max-w-lg space-y-8 items-start flex-col rounded-3xl border border-gray-200 bg-white p-6 text-gray-900 xl:p-8">

                <h3 class="text-lg font-normal ">Couples Pictures</h3>
                <div class="my-8 flex items-baseline justify-center ">
                    <span class="mr-2 text-5xl font-extrabold">R400</span>
                    <span class="text-gray-600">/session</span>
                </div>

                <p class="font-light text-gray-600 sm:text-sm">Celebrate your love story with romantic, intimate portraits that reflect your unique connection.</p>
                <a
                    routerLink="/contact"
                    class="bg-white text-black border border-black w-full rounded-md  p-3 text-center text-sm font-semibold text-black shadow-sm  hover:bg-pink-500 hover:text-black hover:border-pink-500 transition-all duration-300">Contact us</a>
                <!-- List -->
                <ul role="list" class="mb-8 space-y-4 text-left text-gray-600  text-sm">
                    <li class="flex items-center space-x-3 ">
                        <!-- Icon -->
                        <svg class="h-5 w-5 flex-shrink-0 bg-gray-900 rounded-full p-0.5 text-white" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span>60 minutes session</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <svg class="h-5 w-5 flex-shrink-0 bg-gray-900 rounded-full p-0.5 text-white" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span>20 high-quality edited photos</span>
                    </li>
                </ul>
            </div>

            <!-- GROUP PICTURE -->
            <div
                class="mx-auto flex max-w-lg space-y-8 items-start flex-col rounded-3xl border border-gray-200 bg-white p-6 text-gray-900 xl:p-8">

                <h3 class="text-lg font-normal ">Group Pictures</h3>
                <div class="my-8 flex items-baseline justify-center ">
                    <span class="mr-2 text-5xl font-extrabold">R500</span>
                    <span class="text-gray-600">/session</span>
                </div>

                <p class="font-light text-gray-600 sm:text-sm">Whether it’s a family reunion or a friends’ gathering, this session highlights the connections and joy shared between your group.</p>
                <a
                    routerLink="/contact"
                    class="bg-white text-black border border-black w-full rounded-md  p-3 text-center text-sm font-semibold text-black shadow-sm  hover:bg-pink-500 hover:text-black hover:border-pink-500 transition-all duration-300">Contact us</a>
                <!-- List -->
                <ul role="list" class="mb-8 space-y-4 text-left text-gray-600  text-sm">
                    <li class="flex items-center space-x-3 ">
                        <!-- Icon -->
                        <svg class="h-5 w-5 flex-shrink-0 bg-gray-900 rounded-full p-0.5 text-white" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span>60 mintues session</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <svg class="h-5 w-5 flex-shrink-0 bg-gray-900 rounded-full p-0.5 text-white" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span>30 high-quality edited photos.</span>
                    </li>
                </ul>
            </div>

            <!-- BIRTHDAYS -->
            <div
                class="mx-auto flex max-w-lg space-y-8 items-start flex-col rounded-3xl border border-gray-200 bg-white p-6 text-gray-900 xl:p-8">

                <h3 class="text-lg font-normal ">Birthday</h3>
                <div class="my-8 flex items-baseline justify-center ">
                    <span class="mr-2 text-5xl font-extrabold">R1500</span>
                </div>

                <p class="font-light text-gray-600 sm:text-sm">Candid and posed photos capturing the event highlights.</p>
                <a
                    routerLink="/contact"
                    class="bg-white text-black border border-black w-full rounded-md  p-3 text-center text-sm font-semibold text-black shadow-sm  hover:bg-pink-500 hover:text-black hover:border-pink-500 transition-all duration-300">Contact us</a>
                <!-- List -->
                <ul role="list" class="mb-8 space-y-4 text-left text-gray-600  text-sm">
                    <li class="flex items-center space-x-3 ">
                        <!-- Icon -->
                        <svg class="h-5 w-5 flex-shrink-0 bg-gray-900 rounded-full p-0.5 text-white" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span>3 hours of coverage. Additional hours can be added at the cost of R500 per hour.</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <svg class="h-5 w-5 flex-shrink-0 bg-gray-900 rounded-full p-0.5 text-white" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span>Atleast 70 high-quality edited photos</span>
                    </li>
                </ul>
            </div>

            <!-- MATRIC DANCE -->
            <div
                class="mx-auto flex max-w-lg space-y-8 items-start flex-col rounded-3xl border border-gray-200 bg-white p-6 text-gray-900 xl:p-8">

                <h3 class="text-lg font-normal ">Matric Dance</h3>
                <div class="my-8 flex items-baseline justify-center ">
                    <span class="mr-2 text-5xl font-extrabold">R2000</span>
                </div>

                <p class="font-light text-gray-600 sm:text-sm">Cover individual and couple poses, and some candid moments at the event.</p>
                <a
                    routerLink="/contact"
                    class="bg-white text-black border border-black w-full rounded-md  p-3 text-center text-sm font-semibold text-black shadow-sm  hover:bg-pink-500 hover:text-black hover:border-pink-500 transition-all duration-300">Contact us</a>
                <!-- List -->
                <ul role="list" class="mb-8 space-y-4 text-left text-gray-600  text-sm">
                    <li class="flex items-center space-x-3 ">
                        <!-- Icon -->
                        <svg class="h-5 w-5 flex-shrink-0 bg-gray-900 rounded-full p-0.5 text-white" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span>3 hours of coverage. Additional hours can be added at the cost of R500 per hour.</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <svg class="h-5 w-5 flex-shrink-0 bg-gray-900 rounded-full p-0.5 text-white" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span>Atleast 70 high-quality edited photos</span>
                    </li>
                </ul>
            </div>
            

            <!-- WEDDINGS -->
            <div
                class="mx-auto flex max-w-lg space-y-8 items-start flex-col rounded-3xl border border-gray-200 bg-white p-6 text-gray-900 xl:p-8">

                <h3 class="text-lg font-normal ">Weddings</h3>
                <div class="my-8 flex items-baseline justify-center ">
                    <span class="mr-2 text-5xl font-extrabold">R5000</span>
                </div>

                <p class="font-light text-gray-600 sm:text-sm">Coverage for the ceremony, couple shots, and key moments</p>
                <a
                routerLink="/contact"
                class="bg-white text-black border border-black w-full rounded-md  p-3 text-center text-sm font-semibold text-black shadow-sm  hover:bg-pink-500 hover:text-black hover:border-pink-500 transition-all duration-300">Contact us</a>
            <!-- List -->
                <ul role="list" class="mb-8 space-y-4 text-left text-gray-600  text-sm">
                    <li class="flex items-center space-x-3 ">
                        <!-- Icon -->
                        <svg class="h-5 w-5 flex-shrink-0 bg-gray-900 rounded-full p-0.5 text-white" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span>4 hours of coverage. Additional hours can be added at the cost of R1000 per hour.</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <svg class="h-5 w-5 flex-shrink-0 bg-gray-900 rounded-full p-0.5 text-white" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span>Atleast 100-150 high-quality edited photos (depending on the duration and style).</span>
                    </li>
                    
                </ul>

            </div>
           
        </div>
    </div>