<div *ngIf="!isHomePage">
  <nav class="bg-white border-gray-200 py-2.5 dark:bg-gray-900">
    <div class="flex flex-wrap items-center justify-between max-w-screen-xl px-4 mx-auto">
        <a href="#" class="flex items-center">
            <span class="self-center text-xl whitespace-nowrap font-playfair dark:text-white">Kopanos</span>
            <span class="self-center text-3xl whitespace-nowrap font-imperialScript dark:text-white">gallery</span>
        </a>
        <div class="flex items-center lg:order-2">
            <div class="hidden mt-2 mr-4 sm:inline-block">
                <span></span>
            </div>
  
            <button data-collapse-toggle="mobile-menu-2" type="button"
        class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="mobile-menu-2" aria-expanded="true">
        <span class="sr-only">Open main menu</span>
        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd"></path>
        </svg>
        <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clip-rule="evenodd"></path>
        </svg>
      </button>
        </div>
        <div class="items-center justify-between w-full lg:flex lg:w-auto lg:order-1" id="mobile-menu-2">
            <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
                <li>
                    <a routerLink="/picture"
                        class="block py-2 pl-3 pr-4 text-white bg-purple-700 rounded lg:bg-transparent lg:text-purple-700 lg:p-0 dark:text-white"
                        aria-current="page">Gallery</a>
                </li>
                <li>
                    <a routerLink="/pricing"
                        class="block py-2 pl-3 pr-4 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-purple-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">Pricing</a>
                </li>
                <li>
                    <a  routerLink="/contact"
                        class="block py-2 pl-3 pr-4 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-purple-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">Contact us</a>
                </li>
            </ul>
        </div>
    </div>
  </nav>
</div>

<script src="https://unpkg.com/flowbite@1.4.1/dist/flowbite.js"></script>

<main>
  <router-outlet></router-outlet>
</main>

<!-- Social Media Footer -->
<div *ngIf="!isHomePage">
  <footer class="bg-white fixed bottom-0 left-0 w-full py-4 ">
    <div class="max-w-screen-xl mx-auto flex justify-center space-x-6">
      <!-- YouTube Icon -->
      <a href="https://youtube.com/@kopanospov?si=PEP6EsNggKzE6Cua" class="text-gray-500 hover:text-pink-500">
        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="h-6 w-6" viewBox="0 0 24 24">
          <path d="M19.615 3.184a3.152 3.152 0 00-2.223-2.232C15.792.6 12 0.6 12 0.6s-3.792 0-5.392.352a3.152 3.152 0 00-2.223 2.232C4 5.208 4 8.8 4 8.8s0 3.592.385 5.616a3.152 3.152 0 002.223 2.232C8.208 16.4 12 16.4 12 16.4s3.792 0 5.392-.352a3.152 3.152 0 002.223-2.232C20 12.392 20 8.8 20 8.8s0-3.592-.385-5.616zM9.75 12.002v-4.8L14.5 9.6l-4.75 2.402z"></path>
        </svg>
      </a>
      <a href="https://www.instagram.com/kopanosgallery?igsh=eHRldnh1Zm85dTY1&utm_source=qr" class="text-gray-500 hover:text-pink-500">
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="h-6 w-6" viewBox="0 0 24 24">
          <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
          <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
        </svg>
      </a>
      <!-- TikTok Icon -->
      <a href="http://tiktok.com/@kopanospov" class="text-gray-500 hover:text-pink-500">
        <svg fill="currentColor" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6">
          <path d="M232 80a95.13 95.13 0 01-52.81-16A57.23 57.23 0 00120 0h-16a8 8 0 00-8 8v136a24 24 0 11-16-22.63V92.31a56 56 0 1024 45.38v-81.3a72 72 0 0041.38 65.17 8 8 0 003.62.88A95.13 95.13 0 00232 96a8 8 0 008-8V80a8 8 0 00-8-8z"></path>
        </svg>
      </a>
    </div>
  </footer>
  
</div>