<div class="text-center p-10">
    <h1 class="font-bold text-4xl mb-4">MACHEBA (2025)</h1>
</div>

<section class=" flex flex-col gap-10 w-full justify-center">
    <section class=" flex flex-wrap gap-6 w-full justify-center items-center ">
      <div class="relative group w-80">
                  <span class="flex flex-col justify-center items-center">
                      <img
                          src="assets/md/Mash/IMG_0090.JPG"
                          alt="Sample"
                          class="w-full h-full object-cover rounded-lg"
                      />
                  </span>
      </div>
      <div class="relative group w-80">
        <span class="flex flex-col justify-center items-center">
            <img
                src="assets/md/Mash/IMG_0121.JPG"
                alt="Sample"
                class="w-full h-full object-cover rounded-lg"
            />
        </span>
     </div>
     <div class="relative group w-80">
        <span class="flex flex-col justify-center items-center">
            <img
                src="assets/md/Mash/IMG_9562.JPG"
                alt="Sample"
                class="w-full h-full object-cover rounded-lg"
            />
        </span>
    </div>
    <div class="relative group w-80">
        <span class="flex flex-col justify-center items-center">
            <img
                src="assets/md/khanya/IMG_9873.JPG"
                alt="Sample"
                class="w-full h-full object-cover rounded-lg"
            />
        </span>
    </div>
    <div class="relative group w-80">
        <span class="flex flex-col justify-center items-center">
            <img
                src="assets/md/khanya/IMG_9929.JPG"
                alt="Sample"
                class="w-full h-full object-cover rounded-lg"
            />
        </span>
    </div>
    <div class="relative group w-80">
        <span class="flex flex-col justify-center items-center">
            <img
                src="assets/md/khanya/IMG_9930.JPG"
                alt="Sample"
                class="w-full h-full object-cover rounded-lg"
            />
        </span>
    </div>
    <div class="relative group w-80">
        <span class="flex flex-col justify-center items-center">
            <img
                src="assets/md/khanya/IMG_9950.JPG"
                alt="Sample"
                class="w-full h-full object-cover rounded-lg"
            />
        </span>
    </div>
    </section>
  </section>


<div class="text-center p-10">
    <h1 class="font-bold text-4xl mb-4">KHANYA (2024)</h1>
</div>

<section class=" flex flex-col gap-10 w-full justify-center">
    <section class=" flex flex-wrap gap-6 w-full justify-center items-center ">
      <div class="relative group w-80">
                  <span class="flex flex-col justify-center items-center">
                      <img
                          src="assets/md/khanya/IMG_3353.JPG"
                          alt="Sample"
                          class="w-full h-full object-cover rounded-lg"
                      />
                  </span>
      </div>
      <div class="relative group w-80">
        <span class="flex flex-col justify-center items-center">
            <img
                src="assets/md/khanya/IMG_3360.JPG"
                alt="Sample"
                class="w-full h-full object-cover rounded-lg"
            />
        </span>
     </div>
     <div class="relative group w-80">
        <span class="flex flex-col justify-center items-center">
            <img
                src="assets/md/khanya/IMG_3387.JPG"
                alt="Sample"
                class="w-full h-full object-cover rounded-lg"
            />
        </span>
    </div>
    <div class="relative group w-80">
        <span class="flex flex-col justify-center items-center">
            <img
                src="assets/md/khanya/IMG_3419.JPG"
                alt="Sample"
                class="w-full h-full object-cover rounded-lg"
            />
        </span>
    </div>
    <div class="relative group w-80">
        <span class="flex flex-col justify-center items-center">
            <img
                src="assets/md/khanya/IMG_3507.JPG"
                alt="Sample"
                class="w-full h-full object-cover rounded-lg"
            />
        </span>
    </div>
    <div class="relative group w-80">
        <span class="flex flex-col justify-center items-center">
            <img
                src="assets/md/khanya/IMG_3539.JPG"
                alt="Sample"
                class="w-full h-full object-cover rounded-lg"
            />
        </span>
    </div>
    <div class="relative group w-80">
        <span class="flex flex-col justify-center items-center">
            <img
                src="assets/md/khanya/IMG_3661.JPG"
                alt="Sample"
                class="w-full h-full object-cover rounded-lg"
            />
        </span>
    </div>
    </section>
  </section>
